<div class="foods">
    <div class="searchBox">
        <label for="searchBox">Search</label>
        <input id="searchBox" type="text" [(ngModel)]="pattern">
    </div>

    <div class="new-food">
        <button (click)="enableUserToAddFood()" class="new-food-button">Add New Food</button>
        <br>
        <div *ngIf="isEditing">
            <div>
                <br>
                <label for="newFoodName">Name</label>
                <input id="name" type="text" [(ngModel)]="newFoodName">
          <br> <br>
            </div>
            <div>
                <label for="newFoodCalories">Calories</label>
                <input id="calories" type="text" [(ngModel)]="newFoodCalories">
                <br> <br>
            </div>
            <div>
                <label for="newFoodImage">Image</label>
                <input id="image" type="text" [(ngModel)]="newFoodImage">
                <br> <br>
            </div>
        </div>
    </div>

    <ul class="food-list">
        <li class="single-food" *ngIf="isEditing">
            <img [src]= "newFoodImage">
            <h3 class="food-name">
                {{ newFoodName }}
            <small class="food-calories">{{ newFoodCalories }} </small>
            </h3>
        </li>



        <li class="single-food" *ngFor="let food of foods | foodSearch:'name':pattern;">
            <img [src]="food.image">
            <h3 class="food-name">
                {{ food.name }}
                
            </h3>
            <h4>
                Calory -
                <small class="food-calories">{{ food.calories }}</small>
            </h4>
            <input type="text" #quantity value="1">
            <button (click)="addToMyList(food, quantity)" class="add"> Add </button>
        </li>
    </ul>

</div>

<div class="my-food-list">
    <h2>Today's Foods <small>{{ totalCalories }} cal</small></h2>
    <ul>
        <li *ngFor="let food of myList">
            <span>{{ food.name }}</span>
            <span>{{ food.calories }}</span>
            <span *ngIf="food.quantity > 1">x{{ food.quantity }}</span>
        </li>
    </ul>
</div>
